*.exe
.amazonq/
*.out
.claude
integration_test.go
tokenizer_test.go
transform_test.go

# Go build cache
.gocache/
tests/.gocache/

# Build artifacts/binaries
go-reloaded

# Generated outputs
result.txt
output.txt
